body{
    background-image:url('background-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
#container{
    background-color: rgba(251, 251, 251, 0.49);
    border-radius: 60px 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 275px;
    width: 750px;
    margin: auto;
    margin-top: 142px;
    text-align: center;
}
p{
    font-family: 'Rationale', sans-serif;
    color: #4F4B64;
    font-size: 24px;
}
input{
    width: 100px;
    margin: 25px auto;
}
#btn{
    margin: 25px auto auto 5px;
}